<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <a style="margin: 10 px" href="/color?color=1&mode=d">Red</a>
    <br/>
    <br/>
    <br/>
    <a style="margin: 10 px" href="/color?color=2&mode=d">Green</a>
    <br/>
    <br/>
    <br/>
    <a style="margin: 10 px" href="/color?color=3&mode=d">Blue</a>
    <br/>
    <br/>
    <br/>
    <a style="margin: 10 px" href="/color?color=4&mode=4">Stop all</a>
  </body>
</html>
